[submodule "camera"]
	path = camera
	url = https://github.com/rzeldent/esp32cam-rtsp.git
[submodule "web"]
	path = web
	url = https://gitee.com/wdep/SightIQ-web.git
[submodule "ai"]
	path = ai
	url = https://gitee.com/wdep/SightIQ-ai.git
