[submodule "web"]
	path = web
	url = https://gitee.com/wdep/SightIQ-web.git
[submodule "ai"]
	path = ai
	url = https://gitee.com/wdep/SightIQ-ai.git
[submodule "backend"]
	path = backend
	url = https://gitee.com/wdep/SightIQ-backend.git
